<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Change password</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/changePassword.js"></script>
<link rel="stylesheet" href="/css/changePassword.css">
</head>
<body>
	<div id="change-password" class="form-box">
		    
		<div class="head">Change password</div>
		 
		<form action="#" id="password-form" name="changePassword">
			<div class="feedback"></div>
			<div id="feedback">Try resetting your password again <a id="link" href="http://localhost:8082/login?recover">here.</a></div>
			<div class="form-group">
				<label class="label-control"> <span class="label-text">New Password</span>
				</label> <input type="password" name="password" id="password" class="required" />
			</div>
			<div id="error-password" class="error"></div>
			<div class="form-group">
				<label class="label-control"> <span class="label-text">Repeat Password</span>
				</label> <input type="password" name="passwordVerify" id="passwordVerify" class="required" />
			</div>
			<div id="error-passwordVerify" class="error"></div>
			<div class="changeBtn">
				<span><button type="button" class="changebtn">Confirm</button></span>
			</div>
		</form>
	</div></html>